<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>五年级</string>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>六年级</string>
		<key>value</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>七年级</string>
		<key>value</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>八年级</string>
		<key>value</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>九年级</string>
		<key>value</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>十年级</string>
		<key>value</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>十一年级</string>
		<key>value</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>十二年级</string>
		<key>value</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>所有班级</string>
		<key>value</key>
		<integer>42</integer>
	</dict>
</array>
</plist>
